.flex{
  display: flex;
}
.list-item{
  min-width: 30vw;
  display: flex;
  flex-direction: row;
  margin: 0.4em 0em;
  justify-content: space-between;
  align-self: center;
}

.info-icon{
  width: 2em;
}

.card-pages{
  width: 100%;
}
mat-card mat-card {
  margin-bottom: 1em;
}