<mat-card class="card-pages">
  <mat-card-title>Informações do seu bichinho</mat-card-title>
  <mat-card-subtitle>Desça para ver todas as informações.</mat-card-subtitle>
  <mat-card-content>
    <mat-divider></mat-divider><br />
    <section id="secao-info">
      <div style="width: 100%; text-align: center">
        <app-animal-image [src]="srcImg"></app-animal-image>
      </div>
      <h1 class="">{{ animal?.nome }}</h1>
      <mat-divider></mat-divider><br />
      <div class="flex" id="data-nascimento" *ngIf="animal?.dataNascimento">
        <div class="info-icon">
          <fa-icon
            style="color: #673ab7"
            [icon]="cakeIcon"
            color="primary"
            size="lg"
            st></fa-icon>
        </div>
        <div>
          <label>{{ animal?.dataNascimento | date: "dd/MM/yyyy" }}</label>
        </div>
      </div>
      <div class="flex" *ngIf="animal?.dataAdocao" id="data-adocao">
        <div class="info-icon">
          <fa-icon
            style="color: #f44336"
            [icon]="heartIcon"
            color="error"
            size="lg"></fa-icon>
        </div>
        <div>
          {{ animal?.dataAdocao | date: "dd/MM/yyyy" }}
        </div>
      </div>
      <div class="flex" *ngIf="animal?.dataObito" id="data-obito">
        <div class="info-icon">
          <fa-icon
            style="color: #ffd740"
            [icon]="starIcon"
            color="accent"
            size="lg"></fa-icon>
        </div>
        <div>
          {{ animal?.dataObito | date: "dd/MM/yyyy" }}
        </div>
      </div>
      <br />
      <div class="" *ngIf="carregando">
        Por favor aguarde, estamos carregando as informações do seu bichinho.
      </div>
    </section>
    <mat-divider></mat-divider>
    <!-- <div *ngIf="!carregando"> -->
  </mat-card-content>
</mat-card>
<br />

<mat-card class="card-pages">
  <mat-card-title>Registro de Consultas</mat-card-title>
  <mat-card-subtitle>Acompanhe o histórico de consultas do seu bichinho.</mat-card-subtitle>
  <mat-card-content>
    <mat-divider></mat-divider><br />
    <ng-container *ngFor="let item of listaConsulta">
      <mat-card class="mat-elevation-z5">
        Local: <strong>{{item.local}}</strong><br />
        Profissional: <strong>{{item.profissional}}</strong> <br />
        Data da Consulta:
        <strong>{{ item.dataConsulta | date: "dd/MM/yyyy" }}</strong>
        <div *ngIf="item.proximaConsulta">
          Próxima Consulta/Retorno:
          <strong>{{ item.proximaConsulta| date: "dd/MM/yyyy" }}</strong>
        </div>
        <div *ngIf="item.observacao" style="white-space: pre-line;">
          <br />
          <mat-divider></mat-divider>
          <br />
          Observações:
          <br />
          {{ item.observacao }}
        </div>
      </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>
<br />

<mat-card class="card-pages">
  <mat-card-title>Registro de Exames</mat-card-title>
  <mat-card-subtitle>Acompanhe o histórico de exames.</mat-card-subtitle>
  <mat-card-content>
    <mat-divider></mat-divider><br />
    <ng-container *ngFor="let item of listaExame">
      <mat-card class="mat-elevation-z5">
        <strong>{{ item.nome }}</strong>
        <br />
        Data da Aplicação:
        <strong>{{ item.dataExame | date: "dd/MM/yyyy" }}</strong>
        <br />
        <div *ngIf="item.observacao" style="white-space: pre-line;">
          <br />
          <mat-divider></mat-divider>
          <br />
          Observações:
          <br />
          {{ item.observacao }}
        </div>
      </mat-card>
      <br />
    </ng-container>
  </mat-card-content>
</mat-card>
<br />

<mat-card class="card-pages">
  <mat-card-title>Registro de Medicação</mat-card-title>
  <mat-card-subtitle>Acompanhe o histórico de medicação. </mat-card-subtitle>
  <mat-card-content>
    <mat-divider></mat-divider>
    <br />
    <ng-container *ngFor="let item of listaMedicacao">
      <mat-card class="mat-elevation-z5">
        <strong>{{ item.nome }}</strong><br>
        Data da Aplicação:
        <strong>{{ item.dataMedicamento | date: "dd/MM/yyyy" }}</strong>
        <div *ngIf="item.dataProxima">
          Próxima Aplicação:
          <strong>{{ item.dataProxima | date: "dd/MM/yyyy" }}</strong>
        </div>
        <div *ngIf="item.observacao" style="white-space: pre-line;">
          <br />
          <mat-divider></mat-divider>
          <br />
          Observações:
          <br />
          {{ item.observacao }}
        </div>
      </mat-card>
      <br />
    </ng-container>
  </mat-card-content>
</mat-card>
<br />

<mat-card class="card-pages">
  <mat-card-title>Registro de Vacinas</mat-card-title>
  <mat-card-subtitle>Acompanhe o histórico de vacinas do seu bichinho.</mat-card-subtitle>
  <mat-card-content>
    <mat-divider></mat-divider><br />
    <ng-container *ngFor="let item of listaVacina">
      <mat-card class="mat-elevation-z5">
        <strong>{{item.nome}}</strong><br />
        Data da Aplicação:
        <strong>{{ item.dataVacina | date: "dd/MM/yyyy" }}</strong>
        <div *ngIf="item.dataProximaVacina">
          Próxima Aplicação:
          <strong>{{ item.dataProximaVacina | date: "dd/MM/yyyy" }}</strong>
        </div>
        <div *ngIf="item.observacao" style="white-space: pre-line;">
          <br />
          <mat-divider></mat-divider>
          <br />
          Observações:
          <br />
          {{ item.observacao }}
        </div>
      </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>
<br />

<mat-card class="card-pages">
  <mat-card-title>Registro de peso</mat-card-title>
  <mat-card-subtitle>Acompanhe todas as pesagens do seu bichinho.</mat-card-subtitle>
  <mat-card-content>
    <mat-divider></mat-divider><br />
    <section id="secao-peso">
      <div
        class="white-text text-darken-1 center-align"
        *ngIf="!carregando && listaPeso.length === 0">
        <p>
          <span>Parece que você ainda não adicionou um registro de pesagem
            para
            esse bichinho.</span>
          <span *ngIf="animal.dono">
            Clique no botão abaixo para adicionar.</span>
        </p>
      </div>

      <div
        style="display: block"
        *ngIf="listaPeso != null && listaPeso.length> 0"
        >
        <canvas
          class="grafico"
          baseChart
          height="350"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [type]="'line'"></canvas>
      </div>
      <mat-divider></mat-divider>
      <br />

      <button
        mat-raised-button
        color="primary"
        [routerLink]="'/weight'"
        *ngIf="animal.dono"
        [queryParams]="{ animal: idAnimal }">
        Registrar peso
      </button>
      <br />
      <br />
      <mat-divider></mat-divider>
      <br />
      <div *ngIf="listaPeso != null && listaPeso.length> 0">
        <ng-container *ngFor="let item of listaPeso">
          <div class="list-item">
            <div style="align-self: center">
              Data: {{ item.dataPesagem | date: "dd/MM/yyyy" }}, Peso:
              {{ item.peso }} <br />
              <div *ngIf="item.observacao" style="white-space: pre-line;">
                Observações:
                <br />
                {{ item.observacao }}
              </div>
              
            </div>
            <button mat-icon-button color="error" style="align-self: center">
              <fa-icon
                [icon]="deleteIcon"
                (click)="excluirPeso(item.id)"
                *ngIf="animal.dono || true"></fa-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
        </ng-container>
      </div>
      <br />
    </section>
  </mat-card-content>
</mat-card>
