<mat-card class="card-pages">
  <mat-card-title>
    Meus Bichinhos!
  </mat-card-title>
  <mat-card-subtitle>
    Clique sobre um animalzinho para abrir ver suas informações.
  </mat-card-subtitle>
  <mat-card-content>
    <mat-divider></mat-divider><br>
    <div class="" *ngIf="carregando">
      Por favor aguarde, estamos carregando as informações dos seus bichinhos.
    </div>
    <div
      *ngIf="(lista != null && lista.length> 0) ||
      (listaCompartilhados != null && listaCompartilhados.length > 0)">
      <div *ngFor="let item of lista">
        <div class="item">
          <div class="animal-info" [routerLink]="['/animal/' + item.id]">
            <img
              width="48"
              class="img"
              [src]="
              item.srcImg
              ? item.srcImg
              : item.idArquivo
              ? urlImagem + item.idArquivo
              : 'assets/icons/animals-allowed.png'
              "
              style="align-self: flex-start"
              />
            <div class="item-name" [routerLink]="['/animal/' + item.id]">
              {{ item.nome }}
            </div>
          </div>
          <div class="actions">
            <button mat-icon-button color="primary" [routerLink]="['/edit/' +
              item.id]">
              <fa-icon [icon]="editIcon" size="lg"></fa-icon>
            </button>
            <button mat-icon-button color="accent"
              (click)="abrirCompartilhamento(item)">
              <fa-icon [icon]="shareIcon" size="lg"></fa-icon>
            </button>
            <button mat-icon-button color="error" (click)="excluir(item.id)">
              <fa-icon [icon]="trashIcon" size="lg"></fa-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>

      <div *ngFor="let item of listaCompartilhados">
        <div class="item">
          <div class="animal-info" [routerLink]="['/animal/' + item.id]">
            <img
              width="48"
              class="img"
              [src]="
              item.srcImg
              ? item.srcImg
              : item.idArquivo
              ? urlImagem + item.idArquivo
              : 'assets/icons/animals-allowed.png'
              "
              style="align-self: flex-start"
              />
            <div class="item-name" [routerLink]="['/animal/' + item.id]">
              {{ item.nome }}
            </div>
          </div>
          <div class="actions">
            <button *ngIf="item.permissao === 'EDITAR'" mat-icon-button color="primary" [routerLink]="['/edit/' +
              item.id]">
              <fa-icon [icon]="editIcon" size="lg"></fa-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>

      <!-- <ng-container *ngFor="let item of listaCompartilhados">
        <mat-list-item>
          <img
            matListAvatar
            width="48"
            class="img"
            [src]="
              item.srcImg
                ? item.srcImg
                : item.idArquivo
                ? urlImagem + item.idArquivo
                : 'assets/icons/animals-allowed.png'
            "
          />

          <div class="pointer animal" [routerLink]="['/animal/' + item.id]">
            <span> {{ item.nome }} </span>
            <div class="chip chip-separator yellow purple-text darken-4-text">
              Compartilhado
            </div>
          </div>

          <a
            [routerLink]="['/animal/' + item.id]"
            class="deep-purple-text text-darken-4 icone"
            mz-secondary-content
          >
            <fa-icon [icon]="openIcon"></fa-icon
          ></a>
        </mat-list-item>
      </ng-container> -->
    </div>

    <div
      class="white-text text-darken-1 center-align"
      *ngIf="!carregando && lista.length === 0">
      <p>
        Você ainda não possui nenhum animalzinho cadastrado, clique no botão
        abaixo para cadastrar.
      </p>
      <br />
    </div>
    <p class="center-align">
      <br>
      <button mat-raised-button color="primary" [routerLink]="['/new-animal']">
        Cadastrar um Animalzinho
      </button>
    </p>
  </mat-card-content>
</mat-card>
