<mat-card class="card-pages">
  <mat-card-title>
    Sobre
  </mat-card-title>
  <mat-card-subtitle>
    Sobre nosso App.
  </mat-card-subtitle>
  <mat-card-content>
    <p class="margin-top">
      Este App foi feito exclusivamente para você registrar informações do seu
      bichinho!
    </p>
    <p>
      Estamos na versão: {{appVersion}}
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="card-pages">
  <mat-card-title>
    Versões
  </mat-card-title>
  <mat-card-subtitle>
    Atualizações e versões do App.
  </mat-card-subtitle>
  <mat-card-content>
    <p>Versão: 0.0.25</p>
    <p>
      Adicionado versionamento na página: Sobre.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.24</p>
    <p>
      Adicionado notificações de Vacina para os Pets.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.23</p>
    <p>
      Alterado página inicial.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.22</p>
    <p>
      Implementado serviço de inscrição no App.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.21</p>
    <p>
      O app passou por um redesign.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.20</p>
    <p>Resumo: 
      Adicionado menu de navegação lateral no painel do animal.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.19</p>
    <p>Resumo: 
      Adicionado compartilhamento de bichinhos.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.18</p>
    <p>Resumo: 
      Adicionado cadastro de antipulgas.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.17</p>
    <p>Resumo: 
      Adicionado cadastro de exames.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.16</p>
    <p>Resumo: 
      Modificado estilo do Menu.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.15</p>
    <p>Resumo: 
      Adicionado registro de medicação.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.14</p>
    <p>Resumo: 
      Adicionado validação nos formulários.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.13</p>
    <p>Resumo: 
      Melhoria na sincronização de dados.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.12</p>
    <p>Resumo: 
      Adicionado possibilidade de sincronizar dados.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.11</p>
    <p>Resumo: 
      Adicionado Funcionalidade para atualização de versão.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.10</p>
    <p>Resumo: 
      Adicionado registro de vacinação.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.9</p>
    <p>Resumo: 
      Adicionado registro de vermifugação.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.8</p>
    <p>Resumo: 
      Alterado ícone de óbito, e o modo de salvar imagens.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.7</p>
    <p>Resumo: 
      Adicionado funcionalidade de salvar uma foto do bichinho.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.6</p>
    <p>Resumo: 
      Adicionado mensagens quando não houver registros disponíveis.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.5</p>
    <p>Resumo: 
      Corrigido cabeçalho, configurando propriedades do PWA.
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.4</p>
    <p>Resumo: 
      Adicionado AuthGuard, Corrigido formato de datas, Alterado propriedades de loading
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.3</p>
    <p>Resumo: Melhoria nos endpoints de segurança
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.2</p>
    <p>Resumo: A versão contém as seguintes funcionalidades:
      Registro de Óbito, Login com Google
    </p>
    <mat-divider></mat-divider><br>
    <p>Versão: 0.0.1</p>
    <p>Resumo: A versão contém as seguintes funcionalidades:
      Cadastro de Animais, Pesar Animais, Verificar o Histórico de Peso de um animal Selecionado.
    </p>
    <mat-divider></mat-divider><br>
    <p>
      Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </p>
    <p>
      Icons made by <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </p>
    <mat-divider></mat-divider><br>
    <p>Sugestões?</p>
    <p>
      Caso você tenha uma idéia para adicionar nesse APP, pode enviar uma mensagem para mim no  
      <a href="https://www.facebook.com/leorochaz" target="_blank">Facebook</a>
    </p>
  </mat-card-content>
</mat-card>
