<mat-card class="card-pages">
  <mat-card-title> Seja bem-vindo! </mat-card-title>
  <mat-card-subtitle
    >Ficamos felizes que você tenha nos encontrado!</mat-card-subtitle
  >
  <mat-card-content>
    <mat-divider></mat-divider>
    <br />
    <p class="margin-top">
      Este App foi feito exclusivamente para você registrar informações do seu
      bichinho!
    </p>
    <p>
      Para acessar nossas funcionalidades, por favor, faça login com sua conta da Google,
      clicando no botão abaixo.
    </p>
    <app-login-google></app-login-google>
  </mat-card-content>
</mat-card>
