<h1>Habilite as notificações</h1>
<p>
  Umas das coisas mais legais do aplicativo, é que nós te lembraremos de algumas
  informações do seu bichinho,<br />
  como data de vacinas e medicamentos.<br />
  Além de outras matérias bem interessantes que você poderá ler.<br />
  <br />
  Clique no botão abaixo para habilitar as notificações e aceite a solicitação que aparecer no seu dispositivo.
</p>
<button mat-raised-button color="primary" (click)="requisitarInscricao()">
  Habilitar notificações
</button>
