<mat-card class="card-pages card">
  <mat-card-title>Registro de vacinas!</mat-card-title>
  <mat-card-subtitle
    >Escolha o seu bichinho, e informe a vacina e as datas de vacinação.</mat-card-subtitle
  >
  <mat-card-content>
    <mat-divider></mat-divider>
    <br />
    <form #f="ngForm" (ngSubmit)="cadastrar(f)">
      <mat-form-field class="inputs">
        <mat-label>Escolha um Animalzinho</mat-label>
        <mat-select [(ngModel)]="idAnimal" name="food" name="idAnimal" required>
          <mat-option
            *ngFor="let item of listaAnimais"
            [value]="item.id"
            class="option"
          >
            <div class="item">
              <img
                width="48"
                class="img"
                [src]="
                  item.idArquivo
                    ? urlImagem + item.idArquivo
                    : 'assets/icons/animals-allowed.png'
                "
                style="align-self: flex-start"
              />
              <label>
                {{ item.nome }}
              </label>
            </div>
          </mat-option>
        </mat-select> </mat-form-field
      ><br />

      
      <mat-form-field class="inputs">
        <mat-label>Qual vacina foi aplicada?</mat-label>
        <input
          matInput
          placeholder="Antirábica"
          required
          [maxLength]="150"
          [(ngModel)]="nome"
          name="nome"
          required
        /> </mat-form-field
      ><br />

      <mat-form-field class="inputs">
        <mat-label>Quando foi aplicada a vacina?</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="dataVacina"
          name="dataVacina"
          required
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> </mat-form-field
      ><br />

      <mat-form-field class="inputs">
        <mat-label>Quando será a próxima vacina?</mat-label>
        <input
          matInput
          [matDatepicker]="picker2"
          [(ngModel)]="dataProximaVacina"
          name="dataProximaVacina"
          required
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker> </mat-form-field
      ><br />
      
      <mat-form-field class="inputs">
        <mat-label>Observações:</mat-label>
        <textarea
          matInput
          placeholder="Digite qualquer informação relevante referente ao registro deste medicamento"
          [maxLength]="150"
          [(ngModel)]="observacao"
          name="observacao"
        ></textarea> </mat-form-field
      ><br />


      <div class="right-align">
        <br />
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="salvando"
        >
          Salvar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
